[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/twig"]
	path = bundle/twig
	url = https://github.com/evidens/vim-twig.git
